body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

section {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
}

.left-section {
  width: 60%;
  background-color: #f2f2f2;
}

.right-section {
  width: 40%;
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .left-section,
  .right-section {
    width: 100%;
  }
  div.layout section {
    display: none;
  }
  div.layout section.visible-section {
    display: block;
  }

  .layout {
    flex-direction: column;
  }
}